<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /tools/smart-search/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /tools/smart-search/index.html [L]
</IfModule>
